body {
    background-color: black;
    color: white;
}

a {
    background-color: white;
    color: red;
    font-weight: bold;
    font-size: 24px;
    font-family: Garamond, "Times New Roman", sans-serif;
}

a:hover {
    background-color: bisque;
    color: brown;
}

.danger {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    border: 2px dotted red;
    color: red;
    font-weight: bolder;
}

.column {
    display: inline-block;
    width: 300px;
    height: 200px;
}